# **Feature Engineering**

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('/content/final.csv')
data.head()

   Unnamed: 0  Dicofre  ... perc_senior_pop  perc_pop_until_19_yo
0           0   131216  ...        0.195123              0.196017
1           1   110658  ...        0.161747              0.204917
2           2   110654  ...        0.161747              0.204917
3           3   110655  ...        0.161501              0.209341
4           4   110657  ...        0.240815              0.163131

[5 rows x 117 columns]

In [9]:
data.isna().sum().sum()
#In total there are 219 null values

219

In [28]:
#As the data is very less filling null values may lead to inconsistent data 
#So let's remove the columns with null values
data = data[data.columns[~data.isnull().any()]]
data=data.drop(columns='Unnamed: 0')
print("Dataframe Dimensions: {0} ".format(data.shape))
#There are 11 cloumns with null values
print("Null value Count: {0} ".format(data.isna().sum().sum()))               #To check if null values still exists

Dataframe Dimensions: (64, 105)
Null value Count: 0

In [42]:
#If more tha 90% of the values are zero they may not show positive impact on predicting other attributes
data=data.drop(columns=data.columns[((data==0).mean()>0.9)],axis=1)
data.shape

(64, 33)

In [41]:
#Let's check what are the columns present in the dataset
print(data.columns.values)

['Dicofre' 'feat_amenity_cafe' 'feat_amenity_fast_food'
 'feat_amenity_fountain' 'feat_amenity_parking'
 'feat_amenity_place_of_worship' 'feat_amenity_police'
 'feat_amenity_restaurant' 'feat_amenity_school' 'feat_amenity_toilets'
 'feat_leisure_outdoor_seating' 'feat_leisure_pitch'
 'feat_leisure_playground' 'feat_leisure_swimming_pool'
 'feat_natural_scrub' 'feat_natural_tree' 'feat_natural_water'
 'feat_tourism_attraction' 'feat_tourism_hotel' 'feat_tourism_museum'
 'Green_Zone_name' 'no_of_museums' 'no_of_parking_lots'
 'no_of_tourist_attractions' 'gz_daily_avg_demand' 'Resident'
 'daily_avg_people' 'no_of_buildings' 'no_of_families'
 'no_of_people_resident' 'perc_senior_pop' 'perc_pop_until_19_yo'
 'gz_daily_avg_demand_res']

In [43]:
correlation_mat = data.corr()
correlation_mat['gz_daily_avg_demand'].sort_values(ascending=False)[:10]

gz_daily_avg_demand           1.000000
gz_daily_avg_demand_res       0.834067
Dicofre                       0.257749
feat_natural_tree             0.220971
no_of_buildings               0.166726
feat_leisure_swimming_pool    0.102324
perc_senior_pop               0.061079
daily_avg_people              0.049368
feat_tourism_hotel            0.044994
feat_amenity_parking          0.023018
Name: gz_daily_avg_demand, dtype: float64

In [44]:
green_areas = pd.read_csv('https://raw.githubusercontent.com/SowmyaMadala/WDL-Stage4/main/Data/Attracting%20Population/WDL_Green_Areas_Dataset_V1.txt' ,sep ="|", encoding ="latin-1").rename(columns = {'Number of Museums in influence area' : 'no_of_museums',
                                                                                                                                  'Number of parking lots in influence area' : 'no_of_parking_lots',
                                                                                                                                   'Number of tourist attractions in influence area': 'no_of_tourist_attractions', 
                                                                                                                                   'Green Zones Daily Average Demand':'gz_daily_avg_demand',
                                                                                                                                    'Daily average of people in influence area': 'daily_avg_people',
                                                                                                                                    'Number of buildings in influence area' : 'no_of_buildings',
                                                                                                                                    'Number of families in influence area': 'no_of_families',
                                                                                                                                    'Number of people resident in influence area' : 'no_of_people_resident'})
resident  = green_areas.loc[green_areas['Resident']==1]
resident = resident.rename(columns= {'daily_avg_people': 'daily_avg_people_resident'})
non_resident  = green_areas.loc[green_areas['Resident']==0]
non_resident = non_resident.rename(columns= {'daily_avg_people': 'daily_avg_people_non_resident'})
combined_data = pd.merge(resident, non_resident[['Green_Zone_name', 'daily_avg_people_non_resident']], how = "inner", on = ['Green_Zone_name']).drop(columns=['Resident'])
total_avg_people=combined_data['daily_avg_people_non_resident']+combined_data['daily_avg_people_resident']
combined_data['total_daily_avg_people']=total_avg_people
gz_daily_demand_resident=(combined_data['daily_avg_people_resident']/combined_data['total_daily_avg_people'])*combined_data['gz_daily_avg_demand']
combined_data['gz_daily_avg_demand_res']=gz_daily_demand_resident

In [45]:
data['gz_daily_avg_demand_res']=combined_data['gz_daily_avg_demand_res']

In [46]:
correlation_mat = data.corr()
correlation_mat['gz_daily_avg_demand_res'].sort_values(ascending=False)[:20]

gz_daily_avg_demand_res       1.000000
gz_daily_avg_demand           0.834067
feat_natural_tree             0.216958
perc_pop_until_19_yo          0.200532
feat_leisure_swimming_pool    0.115213
no_of_museums                 0.111314
no_of_buildings               0.108771
feat_tourism_hotel            0.105575
no_of_parking_lots            0.098837
Dicofre                       0.080145
no_of_tourist_attractions     0.078403
feat_amenity_parking          0.055517
daily_avg_people              0.024185
feat_amenity_school           0.002536
feat_amenity_fountain        -0.009097
feat_amenity_police          -0.021213
feat_leisure_pitch           -0.026204
feat_amenity_cafe            -0.044729
feat_tourism_museum          -0.059903
feat_natural_water           -0.061265
Name: gz_daily_avg_demand_res, dtype: float64

In [47]:
#Let's Consider a dataframe with the values that are having comparitively high correlation with green space demand
data1=data[['Green_Zone_name','Dicofre','gz_daily_avg_demand_res','feat_natural_tree','perc_pop_until_19_yo','feat_leisure_swimming_pool','no_of_museums','no_of_buildings','feat_tourism_hotel','no_of_parking_lots']]
data1.head()

                       Green_Zone_name  ...  no_of_parking_lots
0  ESPAÇO JOGO E RECREIO HOMEM DO LEME  ...                  28
1         JARDIM AFONSO DE ALBUQUERQUE  ...                 129
2  JARDIM ALAMEDA CIDADE UNIVERSITÁRIA  ...                  23
3  JARDIM ALAMEDA DOM AFONSO HENRIQUES  ...                 175
4              JARDIM AMÁLIA RODRIGUES  ...                   8

[5 rows x 10 columns]

In [51]:
socio_data=pd.read_csv('https://raw.githubusercontent.com/SowmyaMadala/WDL-Stage4/main/merged_2020.csv')
data1['Dicofre'] = data1.Dicofre.astype(int)
merged=pd.merge(left=data1,right=socio_data,how='inner',left_on='Dicofre',right_on='ParishCode')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
correlation_mat = merged.corr()
correlation_mat['gz_daily_avg_demand_res'].sort_values(ascending=False)

gz_daily_avg_demand_res           1.000000
feat_natural_tree                 0.244496
perc_pop_until_19_yo              0.193711
no_of_museums                     0.191531
feat_leisure_swimming_pool        0.155063
no_of_parking_lots                0.141607
feat_tourism_hotel                0.130860
Average_monthly_rental_charges    0.079055
ParishCode                        0.075378
Dicofre                           0.075378
no_of_buildings                   0.015653
MedianRent_per_m2                 0.001857
M                                -0.001206
MF                               -0.004031
F                                -0.006730
Area(Km2)                        -0.124422
Name: gz_daily_avg_demand_res, dtype: float64

In [55]:
data2=pd.read_csv('https://raw.githubusercontent.com/McNickSisto/world_data_league/main/stage_4/data/TimingsandPollution.csv')

In [56]:
merged=pd.merge(left=merged,right=data2,how='inner',on='Green_Zone_name')
merged.head()

                        Green_Zone_name  Dicofre  ...   pm10      co
0   ESPAÇO JOGO E RECREIO HOMEM DO LEME   131216  ...  18.65  236.99
1          JARDIM AFONSO DE ALBUQUERQUE   110658  ...  11.40  230.31
2   JARDIM ALAMEDA CIDADE UNIVERSITÁRIA   110654  ...  11.40  230.31
3                JARDIM DO CAMPO GRANDE   110654  ...  11.40  230.31
4  PQ. INFANTIL HOSPITAL DE SANTA MARIA   110654  ...  11.40  230.31

[5 rows x 29 columns]

In [57]:
correlation_mat = merged.corr()
correlation_mat['gz_daily_avg_demand_res'].sort_values(ascending=False)

gz_daily_avg_demand_res           1.000000
avg_spend_time(in min)            0.339612
feat_natural_tree                 0.244496
perc_pop_until_19_yo              0.193711
no_of_museums                     0.191531
feat_leisure_swimming_pool        0.155063
no_of_parking_lots                0.141607
feat_tourism_hotel                0.130860
pm10                              0.082761
Average_monthly_rental_charges    0.079055
Dicofre                           0.075378
ParishCode                        0.075378
co                                0.057543
o3                                0.021425
no_of_buildings                   0.015653
MedianRent_per_m2                 0.001857
M                                -0.001206
MF                               -0.004031
F                                -0.006730
no2                              -0.008360
Opening(Fulltime/Part time)      -0.049945
Rating                           -0.076381
avg_opening_hours                -0.077232
air_quality_index                -0.077766
pm2_5                            -0.086228
Area(Km2)                        -0.124422
so2                              -0.234284
Name: gz_daily_avg_demand_res, dtype: float64

In [59]:
final_data=merged[['Dicofre','Green_Zone_name','gz_daily_avg_demand_res','avg_spend_time(in min)','feat_natural_tree','perc_pop_until_19_yo','no_of_museums','feat_leisure_swimming_pool','no_of_parking_lots','feat_tourism_hotel']]
final_data.head()

   Dicofre  ... feat_tourism_hotel
0   131216  ...                0.0
1   110658  ...                0.0
2   110654  ...                0.0
3   110654  ...                4.0
4   110654  ...                0.0

[5 rows x 10 columns]

**Next Steps**
1. Considering a range for selcting the related attributes
2. Checking how the values are distributed and trying to find some intresting facts through visualizations
3. Fixing a model for predicting