In [1]:
import geopandas as gpd
import pandas as pd
import fiona
import os
import matplotlib.pyplot as plt
import folium
from zipfile import ZipFile
from folium.plugins import MarkerCluster, HeatMap, BeautifyIcon
from folium.map import LayerControl, Layer, FeatureGroup
import seaborn as sns
from shapely.geometry import Point, LineString, MultiPoint
import numpy as np
import contextily as ctx
import requests
from io import StringIO, BytesIO
import json
import datetime as dt
from ast import literal_eval
from shapely.wkt import loads
import plotly.express as px

In [2]:
wifi_count = pd.read_csv('raw_data/WIFI Count.csv')

In [3]:
wifi_count

                  Time  No. of Visitors
0     2018-10-24 17:00               47
1     2018-10-24 18:00              155
2     2018-10-24 19:00              181
3     2018-10-24 20:00              211
4     2018-10-24 21:00              239
...                ...              ...
1634  2018-12-31 19:00              158
1635  2018-12-31 20:00              171
1636  2018-12-31 21:00              151
1637  2018-12-31 22:00              125
1638  2018-12-31 23:00              168

[1639 rows x 2 columns]