# Imports

In [1]:
import geopandas as gpd
import pandas as pd
import fiona
import os
import matplotlib.pyplot as plt
import folium
from zipfile import ZipFile
import seaborn as sns
import numpy as np
import datetime as dt
from collections import Counter
import requests
from ipywidgets import interact, interactive, fixed, interact_manual, IntSlider
from shapely.geometry import LineString, Point
from shapely import wkt
from dotenv import load_dotenv, find_dotenv
from folium.plugins import MarkerCluster, HeatMap, BeautifyIcon
from folium.map import LayerControl, Layer, FeatureGroup
from folium.vector_layers import Circle, CircleMarker
import matplotlib
import ast

# Data

In [2]:
# import renatl info and drop irrelevant columns
bike_df_all = pd.read_csv('raw_data/bike_loans.csv', sep=';').drop(columns=['Importe', 
                                                                        'DescripcionImporte', 
                                                                        'operario'])
bike_df_all['Fecha_Prestamo'] = bike_df_all['Fecha_Prestamo'].astype('datetime64[ns]')
bike_df_all['Fecha_Devolucion'] = bike_df_all['Fecha_Devolucion'].astype('datetime64[ns]')

bike_df_all.dtypes

Id_Historico_Prestamo               int64
Id_Usuario                          int64
Id_Tag_Bicicleta                   object
Fecha_Prestamo             datetime64[ns]
Fecha_Devolucion           datetime64[ns]
Id_Aparcamiento_Origen              int64
Posicion_Origen                     int64
Id_Aparcamiento_Destino           float64
Posicion_Destino                  float64
Num_Bici_Hist                     float64
dtype: object

In [3]:
bike_df_all = bike_df_all.dropna()

# Compute bike count per station per hour

In [4]:
# filter to 2019 data => most representative year
bikes_19 = bike_df_all[bike_df_all.Fecha_Devolucion.dt.year == 2019].reset_index()
bikes_19['Id_Aparcamiento_Destino'] = bikes_19['Id_Aparcamiento_Destino'].astype(int)
# split the previous data (needed for init state of bikes)
bikes_pre = bike_df_all[bike_df_all.Fecha_Devolucion.dt.year < 2019].reset_index()
bikes_pre['Id_Aparcamiento_Destino'] = bikes_pre['Id_Aparcamiento_Destino'].astype(int)
bikes_pre = bikes_pre[['Id_Tag_Bicicleta', 'Fecha_Devolucion', 'Id_Aparcamiento_Destino']].dropna()
# get all unique stations
unique_stations = pd.read_csv('raw_data/station_location_with_id.csv', sep=';').drop(columns=['photo', 'webDescription'])

In [5]:
# assign df a individual hour of the year per row
def get_hr(x):
    time = x
    hour = dt.datetime(time.year, time.month,time.day,time.hour)
    return hour
    
bikes_19.loc[:,'hour'] = bikes_19.Fecha_Devolucion.apply(get_hr)

In [6]:
# make sure df is sorted chronologically
bikes_19 = bikes_19.sort_values(by='Fecha_Devolucion')

# list all the appearing bikes and stations per individual hour of the year
bikes_19_by_hour = bikes_19.copy().groupby('hour').agg({'Id_Tag_Bicicleta':lambda x: list(x), 
                                                        'Id_Aparcamiento_Destino':lambda x: list(x),
                                                        'Id_Aparcamiento_Origen':lambda x: list(x)})

# compute the init state of all bikes prior to 2019 to get a starting balance of bikes
# we assume that the bike in its last position wasn't 'touched', thus remained in the station until the 02.01.2019
bikes_pre = bikes_pre.sort_values(by='Fecha_Devolucion', ascending=False) # walk backwards through df to find 'last' position of each bike
stations_init_df = bikes_pre.groupby('Id_Tag_Bicicleta').agg({'Id_Aparcamiento_Destino':'first'}) # first means last in this case

# count the bikes at the stations (and pad the non appearing ones)
stations_init_pre = Counter({i:0 for i in unique_stations.ID})
stations_init_pre.update(Counter(dict(stations_init_df.Id_Aparcamiento_Destino.value_counts())))

In [7]:
# only keep the _last_ entry of a bike per hour (dict will overwrite)
# we will count pick-up and drop-off in the SAME time, since the avg. renting duration is about 10 mins. 
bikes_19_by_hour['bikes_loc'] = None
for c, row in bikes_19_by_hour.iterrows():
#     print(c) # check progress
    dct = {}
    for i, bike in enumerate(row.Id_Tag_Bicicleta):
        dct[bike] = (row.Id_Aparcamiento_Destino[i], row.Id_Aparcamiento_Origen[i]) # create route dict for each bike in the hour
    bikes_19_by_hour.at[c, 'bikes_loc'] = dct

# count the pickups and drop offs for each station per hour
bikes_19_by_hour['station_movement'] = None
for c, row in bikes_19_by_hour.iterrows():
    stations = row.bikes_loc.values()
    orgs = [i[1] for i in stations] # unpack the rout tuples
    dests = [i[0] for i in stations]
    dct_org = Counter(orgs) # count how many interactions per station
    dct_dest = Counter(dests)
    dct_acum = {i:dct_dest.get(i,0)-dct_org.get(i,0) for i in set(dct_dest) | set(dct_org)} # subtract the pickups from the dropoffs
    bikes_19_by_hour.at[c, 'station_movement'] = dct_acum
           
# update the init station count by the movements
# stations_init_dict = stations_init_pre # copy dict
bikes_19_by_hour['station_count'] = None
for c, row in bikes_19_by_hour.iterrows():
    movement = Counter(row.station_movement)
    stations_init_pre.update(movement) # update moved items
    bikes_19_by_hour.at[c, 'station_count'] = dict(stations_init_pre)



# move hour to columns and only leave the dict
bikes_19_by_hour = bikes_19_by_hour[['station_movement', 'station_count']].reset_index()
        
# make dict column visible
bikes_19_by_hour.head(10).style.set_properties(subset=['station_count'], **{'width': '50'})

In [10]:
bikes_19_by_hour.to_csv('raw_data/stations_count_hr.csv')

In [214]:
# get all bike ids numbers of last hour in 2018 and their locations
# # filter by before 2019 and match it with all apearing bikes, take the .head(1) to have the location of the bike

# then take station count dict and update appearing stations

# all done