In [1]:
import pandas as pd 
import numpy as np
import geopandas as gpd
import fiona
import os

In [2]:
df_cycle = pd.read_csv('data/bike_loans/bike_loans.csv', sep= ';')

In [4]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
bus_routes_AMVA = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/Kml Ruta AMVA'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        bus_routes_AMVA = gpd.GeoDataFrame(pd.concat([bus_routes_AMVA, df], ignore_index=True))

In [5]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
smm_bus_routes = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/kml Ruta SMM'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        smm_bus_routes = gpd.GeoDataFrame(pd.concat([smm_bus_routes, df], ignore_index=True))

In [6]:
smm_bus_routes

,Name,Description,geometry
0,111012,,"LINESTRING Z (-75.58133 6.19411 0.00000, -75.5..."
1,Est. Aguacatala - Taxis,,POINT Z (-75.58086 6.19458 0.00000)
2,52868,,POINT Z (-75.57354 6.19467 0.00000)
3,52975,,POINT Z (-75.57221 6.19374 0.00000)
4,53110,,POINT Z (-75.57043 6.19281 0.00000)
...,...,...,...
11292,50993,,POINT Z (-75.61028 6.27845 0.00000)
11293,50847,,POINT Z (-75.61445 6.27758 0.00000)
11294,50780,,POINT Z (-75.61695 6.27766 0.00000)
11295,50758,,POINT Z (-75.61808 6.27561 0.00000)
11296,50791,,POINT Z (-75.61672 6.27485 0.00000)

In [7]:
import zipfile
#import glob
from xml.dom import minidom
fname = 'data/medellin_metro/medellin_metro_stations'
def kmz_to_kml(fname):
    """save kmz to kml"""
    zf = zipfile.ZipFile(fname,'r')
    for fn in zf.namelist():
        if fn.endswith('.kml'):
            content = zf.read(fn)
            xmldoc = minidom.parseString(content)
            out_name = (fname.replace(".kmz",".kml")).replace("\\","/")
            out = open(out_name,'w')
            out.writelines(xmldoc.toxml())
            out.close()
        else:
            print("no kml file")

In [ ]:
# from zipfile import ZipFile

# filename = 'data/medellin_metro/medellin_metro_stations/LinesCable.kmz'

# kmz = ZipFile(filename, 'r')
# kml = kmz.open('doc.kml', 'r')

In [ ]:
# file_kml = 'data/medellin_metro/medellin_metro_stations/LinesCable.kml'

In [ ]:
# df = gpd.read_file(file_kml, driver='KML')

In [8]:
#moritz function
metro_routes = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/medellin_metro/medellin_metro_stations'):
    for file in files:
        path = os.path.join(root, file)
        print(path)
        if path.endswith('.kmz'):
            kmz = zipfile.ZipFile(path, 'r')
            kml = kmz.open('doc.kml', 'r')
            df = gpd.read_file(kml, driver='KML')
            metro_routes = gpd.GeoDataFrame(pd.concat([metro_routes, df], ignore_index=True))

data/medellin_metro/medellin_metro_stations/LinesMetroPlus.kmz
data/medellin_metro/medellin_metro_stations/.DS_Store
data/medellin_metro/medellin_metro_stations/LinesCable.kmz
data/medellin_metro/medellin_metro_stations/StationsTranvia.kmz
data/medellin_metro/medellin_metro_stations/StationsCable.kmz
data/medellin_metro/medellin_metro_stations/LineTranvia.kmz
data/medellin_metro/medellin_metro_stations/LinesCable.kml
data/medellin_metro/medellin_metro_stations/StationsMetro.kmz
data/medellin_metro/medellin_metro_stations/LinesMetro.kmz
data/medellin_metro/medellin_metro_stations/StationsFootprints.kmz
data/medellin_metro/medellin_metro_stations/StationsMetroPlus.kmz

In [9]:
metro_routes

,Name,Description,geometry
0,1,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTILINESTRING Z ((-75.57665 6.23167 0.00000,..."
1,1,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTILINESTRING Z ((-75.55666 6.28520 0.00000,..."
2,2,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTILINESTRING Z ((-75.60922 6.23067 0.00000,..."
3,2,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTILINESTRING Z ((-75.57674 6.23082 0.00000,..."
4,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...","MULTILINESTRING Z ((-75.60210 6.23243 0.00000,..."
...,...,...,...
244,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...",POINT Z (-75.59215 6.27379 30.00000)
245,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...",POINT Z (-75.58858 6.27302 30.00000)
246,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...",POINT Z (-75.58276 6.27355 30.00000)
247,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...",POINT Z (-75.57825 6.27411 30.00000)
248,O,"<html xmlns:fo=""http://www.w3.org/1999/XSL/For...",POINT Z (-75.57317 6.27685 30.00000)

In [11]:
print(f'smm shape: {smm_bus_routes.shape},\n AMVA shape: {bus_routes_AMVA.shape},\n cycling shape: {df_cycle.shape},\n metro shape: {metro_routes.shape}')

smm shape: (11297, 3),
 AMVA shape: (270, 3),
 cycling shape: (14225355, 13),
 metro shape: (249, 3)

In [12]:
df_cycle

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,0.0,NaN,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,0.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,0.0,NaN,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,0.0,NaN,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,0.0,NaN,monitor,1176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14225350,17272860,26650,00001B7DE4E2,2021-04-20 18:46:57.000,2021-04-20 19:07:25.000,45,18,89.0,11.0,0.0,NaN,NaN,NaN
14225351,17272686,151968,000030778CC7,2021-04-20 18:28:09.000,2021-04-20 19:08:00.000,96,20,96.0,15.0,0.0,NaN,NaN,3525.0
14225352,17272992,155196,000037FDF432,2021-04-20 18:59:53.000,2021-04-20 19:08:59.000,56,37,89.0,15.0,0.0,NaN,NaN,NaN
14225353,17272844,144508,000026B3E61C,2021-04-20 18:45:42.000,2021-04-20 19:13:45.000,61,1,1.0,1.0,0.0,NaN,johan.granados,1430.0
14225354,17272787,120899,0000B5C6F1E2,2021-04-20 18:39:06.000,2021-04-20 19:51:17.000,8,1,2.0,1.0,0.0,NaN,beatriz.osorio,3446.0