In [19]:
import pandas as pd 
import numpy as np
import geopandas as gpd
import fiona
import os

In [14]:
# df = pd.read_csv('data/bike_loans/bike_loans.csv', sep= ';')

In [23]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
bus_routes_AMVA = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/Kml Ruta AMVA'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        bus_routes = gpd.GeoDataFrame(pd.concat([bus_routes, df], ignore_index=True))

In [30]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
smm_bus_routes = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/kml Ruta SMM'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        smm_bus_routes = gpd.GeoDataFrame(pd.concat([smm_bus_routes, df], ignore_index=True))

In [31]:
smm_bus_routes

,Name,Description,geometry
0,111012,,"LINESTRING Z (-75.58133 6.19411 0.00000, -75.5..."
1,Est. Aguacatala - Taxis,,POINT Z (-75.58086 6.19458 0.00000)
2,52868,,POINT Z (-75.57354 6.19467 0.00000)
3,52975,,POINT Z (-75.57221 6.19374 0.00000)
4,53110,,POINT Z (-75.57043 6.19281 0.00000)
...,...,...,...
11292,50993,,POINT Z (-75.61028 6.27845 0.00000)
11293,50847,,POINT Z (-75.61445 6.27758 0.00000)
11294,50780,,POINT Z (-75.61695 6.27766 0.00000)
11295,50758,,POINT Z (-75.61808 6.27561 0.00000)
11296,50791,,POINT Z (-75.61672 6.27485 0.00000)

In [32]:
import zipfile
#import glob
from xml.dom import minidom
fname = 'data/medellin_metro/medellin_metro_stations'
def kmz_to_kml(fname):
    """save kmz to kml"""
    zf = zipfile.ZipFile(fname,'r')
    for fn in zf.namelist():
        if fn.endswith('.kml'):
            content = zf.read(fn)
            xmldoc = minidom.parseString(content)
            out_name = (fname.replace(".kmz",".kml")).replace("\\","/")
            out = open(out_name,'w')
            out.writelines(xmldoc.toxml())
            out.close()
        else:
            print("no kml file")

In [38]:
# from zipfile import ZipFile

# filename = 'data/medellin_metro/medellin_metro_stations/LinesCable.kmz'

# kmz = ZipFile(filename, 'r')
# kml = kmz.open('doc.kml', 'r')

In [40]:
file_kml = 'data/medellin_metro/medellin_metro_stations/LinesCable.kml'

In [41]:
df = gpd.read_file(file_kml, driver='KML')

NameError: name 'file_kml' is not defined