In [18]:
from pathlib import Path
import pandas as pd
from fastkml import kml
from shapely.geometry import shape
import geopandas as gpd
import os
import fiona

In [4]:
data_bikes = pd.read_csv('data/bike_loans/bike_loans.csv', sep = ';')

In [5]:
data_bikes

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,0.0,NaN,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,0.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,0.0,NaN,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,0.0,NaN,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,0.0,NaN,monitor,1176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14225350,17272860,26650,00001B7DE4E2,2021-04-20 18:46:57.000,2021-04-20 19:07:25.000,45,18,89.0,11.0,0.0,NaN,NaN,NaN
14225351,17272686,151968,000030778CC7,2021-04-20 18:28:09.000,2021-04-20 19:08:00.000,96,20,96.0,15.0,0.0,NaN,NaN,3525.0
14225352,17272992,155196,000037FDF432,2021-04-20 18:59:53.000,2021-04-20 19:08:59.000,56,37,89.0,15.0,0.0,NaN,NaN,NaN
14225353,17272844,144508,000026B3E61C,2021-04-20 18:45:42.000,2021-04-20 19:13:45.000,61,1,1.0,1.0,0.0,NaN,johan.granados,1430.0
14225354,17272787,120899,0000B5C6F1E2,2021-04-20 18:39:06.000,2021-04-20 19:51:17.000,8,1,2.0,1.0,0.0,NaN,beatriz.osorio,3446.0

In [23]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
bus_routes_amva = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/Kml Ruta AMVA'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        bus_routes_amva = gpd.GeoDataFrame(pd.concat([bus_routes, df], ignore_index=True))

In [26]:
bus_routes_amva

        Name Description                                           geometry
0    4005000              MULTILINESTRING Z ((-75.61722 6.18946 0.00000,...
1      41150              LINESTRING Z (-75.65257 6.18383 0.00000, -75.6...
2      20040              MULTILINESTRING Z ((-75.56734 6.33126 0.00000,...
3       1015              MULTILINESTRING Z ((-75.55794 6.35091 0.00000,...
4       4004              MULTILINESTRING Z ((-75.65229 6.17438 0.00000,...
..       ...         ...                                                ...
266    45200              LINESTRING Z (-75.62738 6.15263 0.00000, -75.6...
267     5509              LINESTRING Z (-75.62374 6.14993 0.00000, -75.6...
268    55100              LINESTRING Z (-75.60497 6.16191 0.00000, -75.6...
269    41160              LINESTRING Z (-75.65257 6.18383 0.00000, -75.6...
270    41160              LINESTRING Z (-75.65257 6.18383 0.00000, -75.6...

[271 rows x 3 columns]

In [31]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
smm_bus_routes = gpd.GeoDataFrame()
for root, dirs, files in os.walk('data/bus_routes/medellin_bus_routes/kml Ruta SMM'):
    for file in files:
        path = os.path.join(root, file)
        df = gpd.read_file(path, driver='KML')
        smm_bus_routes = gpd.GeoDataFrame(pd.concat([smm_bus_routes, df], ignore_index=True))

In [32]:
smm_bus_routes

         Name Description                                           geometry
0      110365              LINESTRING Z (-75.58869 6.29337 0.00000, -75.5...
1       52026                            POINT Z (-75.58856 6.29347 0.00000)
2       52084                            POINT Z (-75.58743 6.29234 0.00000)
3       52146                            POINT Z (-75.58598 6.29233 0.00000)
4       52041                            POINT Z (-75.58824 6.28813 0.00000)
...       ...         ...                                                ...
11292   54983                            POINT Z (-75.53793 6.23674 0.00000)
11293   54931                            POINT Z (-75.53948 6.23764 0.00000)
11294   54953                            POINT Z (-75.53881 6.23979 0.00000)
11295   54950                            POINT Z (-75.53898 6.24102 0.00000)
11296   54917                            POINT Z (-75.53996 6.24231 0.00000)

[11297 rows x 3 columns]