# Imports

In [18]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import requests
import random
import json
import csv
import time
import folium
from folium import Map, CircleMarker, Vega, Popup, Marker
from folium.plugins import MarkerCluster, HeatMap
import LatLon23
from vincent import Bar
from math import radians, sin, cos, asin, sqrt
from ipywidgets import interact

ModuleNotFoundError: No module named 'seaborn'

# Data

## Originals

In [ ]:
data_senior = pd.read_csv('raw_data/senior_transportation.csv')
data_bus = pd.read_csv('raw_data/bus_routes.csv')
data_users = pd.read_csv('raw_data/churn_users.csv')
data_od = pd.read_csv('raw_data/churn_OD.csv')

In [2]:
data_senior

NameError: name 'data_senior' is not defined

In [3]:
data_senior.info()

NameError: name 'data_senior' is not defined

In [4]:
plot = data_senior[["County_of_Origin", "Average_Daily_SeniorPopulation_Travelling"]].groupby("County_of_Origin").mean()
plt.plot(plot)
plt.xticks(rotation='vertical')
plt.show()

NameError: name 'data_senior' is not defined

In [5]:
data_bus

NameError: name 'data_bus' is not defined

In [6]:
data_users

NameError: name 'data_users' is not defined

In [7]:
plt.plot(data_users.groupby("AgeClassDescription").mean())

NameError: name 'plt' is not defined

In [8]:
data_od

NameError: name 'data_od' is not defined

## transporlis

In [9]:
df_carr = pd.read_csv("transporlis_data/data_carristur/shapes.txt")

In [10]:
df_carr

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,21635,38.705920,-9.144050,1,NaN
1,21635,38.709667,-9.136373,2,NaN
2,21635,38.713560,-9.138840,3,NaN
3,21635,38.715790,-9.141390,4,NaN
4,21635,38.719740,-9.145020,5,NaN
5,21635,38.727190,-9.148700,6,NaN
6,21635,38.730500,-9.146710,7,NaN
7,21635,38.733920,-9.144640,8,NaN
8,21635,38.742910,-9.146840,9,NaN
9,21635,38.746110,-9.147540,10,NaN
10,21635,38.769640,-9.128280,11,NaN
11,21636,38.769640,-9.128280,1,NaN
12,21636,38.745170,-9.147950,2,NaN
13,21636,38.742510,-9.147180,3,NaN
14,21636,38.733640,-9.145150,4,NaN
15,21636,38.730370,-9.147070,5,NaN
16,21636,38.727380,-9.149040,6,NaN
17,21636,38.720220,-9.145780,7,NaN
18,21636,38.715600,-9.142050,8,NaN
19,21636,38.713350,-9.139600,9,NaN
20,21636,38.708480,-9.138700,10,NaN
21,21636,38.705920,-9.144050,11,NaN
22,21637,38.770780,-9.128110,1,NaN
23,21637,38.742442,-9.165673,2,NaN
24,21638,38.742442,-9.165673,1,NaN
25,21638,38.770780,-9.128110,2,NaN

In [11]:
df_trips = pd.read_csv("transporlis_data/data_carristur/trips.txt")

In [12]:
df_trips_carr = pd.merge(df_trips, df_carr[["shape_id", "shape_pt_lat", "shape_pt_lon"]], 
                         left_on="shape_id", right_on="shape_id")

In [13]:
df_trips_carr

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,shape_pt_lat,shape_pt_lon
0,21635,25964425,25964425,NaN,NaN,NaN,21635,38.705920,-9.144050
1,21635,25964425,25964425,NaN,NaN,NaN,21635,38.709667,-9.136373
2,21635,25964425,25964425,NaN,NaN,NaN,21635,38.713560,-9.138840
3,21635,25964425,25964425,NaN,NaN,NaN,21635,38.715790,-9.141390
4,21635,25964425,25964425,NaN,NaN,NaN,21635,38.719740,-9.145020
5,21635,25964425,25964425,NaN,NaN,NaN,21635,38.727190,-9.148700
6,21635,25964425,25964425,NaN,NaN,NaN,21635,38.730500,-9.146710
7,21635,25964425,25964425,NaN,NaN,NaN,21635,38.733920,-9.144640
8,21635,25964425,25964425,NaN,NaN,NaN,21635,38.742910,-9.146840
9,21635,25964425,25964425,NaN,NaN,NaN,21635,38.746110,-9.147540
10,21635,25964425,25964425,NaN,NaN,NaN,21635,38.769640,-9.128280
11,21636,25964426,25964426,NaN,NaN,NaN,21636,38.769640,-9.128280
12,21636,25964426,25964426,NaN,NaN,NaN,21636,38.745170,-9.147950
13,21636,25964426,25964426,NaN,NaN,NaN,21636,38.742510,-9.147180
14,21636,25964426,25964426,NaN,NaN,NaN,21636,38.733640,-9.145150
15,21636,25964426,25964426,NaN,NaN,NaN,21636,38.730370,-9.147070
16,21636,25964426,25964426,NaN,NaN,NaN,21636,38.727380,-9.149040
17,21636,25964426,25964426,NaN,NaN,NaN,21636,38.720220,-9.145780
18,21636,25964426,25964426,NaN,NaN,NaN,21636,38.715600,-9.142050
19,21636,25964426,25964426,NaN,NaN,NaN,21636,38.713350,-9.139600
20,21636,25964426,25964426,NaN,NaN,NaN,21636,38.708480,-9.138700
21,21636,25964426,25964426,NaN,NaN,NaN,21636,38.705920,-9.144050
22,21637,25964427,25964427,NaN,NaN,NaN,21637,38.770780,-9.128110
23,21637,25964427,25964427,NaN,NaN,NaN,21637,38.742442,-9.165673
24,21638,25964428,25964428,NaN,NaN,NaN,21638,38.742442,-9.165673
25,21638,25964428,25964428,NaN,NaN,NaN,21638,38.770780,-9.128110

In [14]:
df_freq = pd.read_csv("transporlis_data/data_carristur/frequencies.txt")

In [15]:
df_freq.value_counts()

trip_id   start_time  end_time  headway_secs  exact_times
25964425  08:00:00    21:00:00  1200          1              1
25964426  08:00:00    21:00:00  1200          1              1
25964427  08:00:00    19:00:00  3600          1              1
25964428  08:30:00    19:30:00  3600          1              1
dtype: int64

# Mapping

In [16]:
# map for transporlis
m = folium.Map(location=[38.71, -9.18])
    # Avoid preloading all points
# marker_cluster = MarkerCluster().add_to(m)
for c, row in df_trips_carr.iterrows():
    coor = list([row["shape_pt_lat"], row["shape_pt_lon"]])
    popup = f'Route ID: {int(row["route_id"])}'
    tooltip = f'Trip ID: {int(row["trip_id"])}'
#     print(popup)
    Marker(coor, popup=popup, tooltip=tooltip).add_to(m)

m

NameError: name 'folium' is not defined

In [17]:
# map for seniors table
m = folium.Map(location=[38.71, -9.18])
    # Avoid preloading all points
# marker_cluster = MarkerCluster().add_to(m)
for c, row in df_trips_carr.iterrows():
    coor = list([row["shape_pt_lat"], row["shape_pt_lon"]])
    popup = f'Route ID: {int(row["route_id"])}'
    tooltip = f'Trip ID: {int(row["trip_id"])}'
#     print(popup)
    Marker(coor, popup=popup, tooltip=tooltip).add_to(m)

m

NameError: name 'folium' is not defined